/**
* PreviewBlock
* @author tangxiaomi <81195314@qq.com>
* @date 2023-04-25 14:24:05
* @since 0.0.0
*/
.preview-block
    height 100%
    width calc(100vw - 280px - 240px)
    min-width: 600px
    overflow: auto