@font-face {
  font-family: "iconfont"; /* Project id 4029337 */
  src: url('//at.alicdn.com/t/c/font_4029337_807nxbj4e1r.woff2?t=1682237997805') format('woff2'),
       url('//at.alicdn.com/t/c/font_4029337_807nxbj4e1r.woff?t=1682237997805') format('woff'),
       url('//at.alicdn.com/t/c/font_4029337_807nxbj4e1r.ttf?t=1682237997805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e63b";
}

.icon-fanhui:before {
  content: "\e609";
}

.icon-weibiaoti520:before {
  content: "\e617";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-search-2-copy:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-jia:before {
  content: "\e600";
}
