/**
* DataTable
* @author tangxiaomi <81195314@qq.com>
* @date 2023-05-06 09:03:07
* @since 0.0.0
*/

.table-wrapper
    width 100%
    height 100%
.table-box
    height calc(100% - 50px)
    overflow-y: auto
.toolbar
    width 100%
    height 50px
    .left
        display flex
.import-btn
    margin-right 10px