/**
* Animation
* @author tangxiaomi <81195314@qq.com>
* @date 2023-05-08 11:25:51
* @since 0.0.0
*/

.wrapper
    font-size: 12px
.play-btn
    width 26px
    height 26px
    display flex
    align-items: center
    justify-content: center
    cursor pointer
    margin-right 20px
    .iconfont
        font-size 26px
.play-block
    display flex
    align-items: center
    justify-content: space-between
    margin-bottom 20px

.setting-list
    .item
        display flex
        align-items: center
        justify-content: space-between
        margin-bottom 5px
        /deep/
            .el-input-number, .el-select
                width 80px
