/**
* Chart
* @author tangxiaomi <81195314@qq.com>
* @date 2023-04-25 13:59:01
* @since 0.0.0
*/


.chart-wrapper
    width 100vw
    height: 100vh
    overflow hidden
    color rgba(255,255,255,0.5)
.container
    display flex
    height: calc(100vh - 50px)
    background: #1c1c1c;