/**
* SettingBlock
* @author tangxiaomi <81195314@qq.com>
* @date 2023-04-25 14:33:26
* @since 0.0.0
*/
.setting-block
    background: #252626;
    border-left: 1px solid #1f1f1f;
    height 100%
    width 240px