@font-face {
  font-family: "iconfont"; /* Project id 4029337 */
  src: url('iconfont.woff2?t=1683705103603') format('woff2'),
       url('iconfont.woff?t=1683705103603') format('woff'),
       url('iconfont.ttf?t=1683705103603') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nandinggeermeiguitu:before {
  content: "\e851";
}

.icon-pie-chart-full:before {
  content: "\e8c1";
}

.icon-jietizhexiantu:before {
  content: "\e6bb";
}

.icon-weibiaoti519:before {
  content: "\e616";
}

.icon-bofang:before {
  content: "\e608";
}

.icon-huanxingtu1:before {
  content: "\e75a";
}

.icon-bofang1:before {
  content: "\ead8";
}

.icon-paiming:before {
  content: "\e661";
}

.icon-zanting:before {
  content: "\e7dc";
}

.icon-jiantou_liebiaozhankai:before {
  content: "\eb04";
}

.icon-xiazai:before {
  content: "\e700";
}

.icon-bingtu:before {
  content: "\e902";
}

.icon-chartcolumn:before {
  content: "\e607";
}

.icon-huanxingtu:before {
  content: "\e850";
}

.icon-zhexiantu:before {
  content: "\e815";
}

.icon-shouqi:before {
  content: "\e60f";
}

.icon-sanjiaoyou:before {
  content: "\e645";
}

.icon-shanchu:before {
  content: "\e63b";
}

.icon-fanhui:before {
  content: "\e609";
}

.icon-weibiaoti520:before {
  content: "\e617";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-search-2-copy:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-jia:before {
  content: "\e600";
}

