/**
* Title
* @author tangxiaomi <81195314@qq.com>
* @date 2023-05-08 10:28:42
* @since 0.0.0
*/
.wrapper
    display flex
    align-items: center
    justify-content: space-between
    /deep/
        .el-input
            margin-left 10px
        .el-color-picker
            margin-left 10px