/**
* Topbar
* @author tangxiaomi <81195314@qq.com>
* @date 2023-04-25 14:23:31
* @since 0.0.0
*/
.topbar
    background-color: #303133;
    box-shadow: 0 1px 0 0 #141517;
    height: 50px;
    width 100%
    display flex
    align-items: center
    justify-content: space-between
    padding 0 10px
    position relative
    z-index  999
    .right
        height: 100%
    .name
        // cursor pointer
        font-size: 18px
        display flex
        align-items: center
        color #fff
        // padding 0 4px
        .iconfont
            margin-left 5px
        // &:hover
        //     background: rgba(255,255,255,0.2)
        //     border-radius: 4px
.logo
    font-size: 1.2em
    a
        display flex
        align-items: center
        color #fff
    &:hover
        img
            transform: rotate(-30deg);
    img
        transition: 0.6s
        height: 34px
        cursor pointer
        margin-right 10px

.operation
    display flex
    height 100%
    .item
        color #fff
        cursor pointer
        width 50px
        height 100%
        font-size: 12px
        display flex
        align-items: center
        justify-content: center
        text-align: center
        .text
            font-size: 12px
            margin-top 5px
        &:hover
            background: #1c1c1c;
        .iconfont
            color #fff
            font-size: 16px