/**
* Topbar
* @author tangxiaomi <81195314@qq.com>
* @date 2023-04-25 14:23:31
* @since 0.0.0
*/
.topbar
    background-color: #303133;
    box-shadow: 0 1px 0 0 #141517;
    height: 50px;
    width 100%